* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: aliceblue;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(8, 3, 28);
}
.nav{
  
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;   
    justify-content: space-between;
   padding: 30px 30px;
   }
   #ni{
       display: flex;
       gap: 50px;
   }
   .logo{
    align-items: center;
    justify-content: center;
    display: flex;
   }
   .logo img{
    height: 5vh;
    width: 5vh;
   }
   .join{
    display: flex;
    align-items: center;   
    justify-content: space-between;
    gap:7px;
   }
   .btn{
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
   }
   .main1{
    height: 100vh;
    width: 98.7vw;
   }
.p1{
    
    display: flex;
    justify-content: center;
    align-items: end;
    line-height: 18px;

}
.p1 h1{
    scale: 3.5;
   
 
}
.p4{
    overflow:hidden;
}

.p2 {
    display: flex;
    justify-content: center;
    align-items: start;
}

.planet{
    position: absolute;
  height:100%;
  width: 100%;
    overflow:hidden;
    scale:1.5;
   size: 100px;
    padding-top: 18vh;
    padding-right:10vw;
}

.glow{
    height: 70%;
    width: 100%;
   position: absolute;
    bottom: 1vh;


}
.gif{
    position: absolute;
    z-index: 1;
}
